---
import Footer from "./Footer.astro";
import Header from "./Header.astro";

export interface Props {
    title: string;
    desc: string;
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html
    lang="en"
    class="flex h-full w-full flex-col items-center bg-mdb-background text-lg text-mdb-text-primary"
>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
        <meta
            name="description"
            content={desc}
        />
    </head>
    <body
        class="min-w-[100%] max-w-[100%] px-4 word-break sm:min-w-[50%] sm:max-w-[70%]"
    >
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
