---
const projects = Astro.locals.changelogs
    .filter((cl, i, t) => t.length > 1)
    .map((cl) => ({
        label: cl.displayName,
        githubLink: `/${cl.displayName}`,
    }));
---

<header class="bg-primary-background flex w-full items-center gap-10 p-5">
    <div>
        <a
            href="/"
            class="text-3xl font-bold"
        >
            Autumn
        </a>
        <h2>Auto-changelog</h2>
    </div>
    <nav>
        <ul class="flex gap-3">
            {
                projects.map((project) => (
                    <li class="inline-block italic">
                        <a href={project.githubLink}>{project.label}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
