---
---

<header class="my-5 flex w-full flex-col items-center bg-primary-background">
    <h1 class="font-bold">Autumn</h1>
    <nav class="flex w-main justify-between lg:w-semimain">
        <p>Simple nav</p>
    </nav>
</header>
